/* Global CSS (start) */

/* Google Font (start) */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Google Font (end) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
}

body{
    font-family: "Inter", sans-serif;;
}

/* Global CSS (end) */

/* Main Content (start) */

.blog-main-heading{
    font-weight: 600;
}

.recent-blog-post-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Main Content (end) */